IPMeteoLocation/src/model/GeocodeData.xsd

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="GeocodeResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="status" type="xsd:string" />
        <xsd:element name="result">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="type" type="xsd:string" />
              <xsd:element name="formatted_address" type="xsd:string" />
              <xsd:element maxOccurs="unbounded" name="address_component">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="long_name" type="xsd:string" />
                    <xsd:element name="short_name" type="xsd:string" />
                    <xsd:element maxOccurs="unbounded" name="type" type="xsd:string" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="geometry">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="location">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="lat" type="xsd:decimal" />
                          <xsd:element name="lng" type="xsd:decimal" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="location_type" type="xsd:string" />
                    <xsd:element name="viewport">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="southwest">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="lat" type="xsd:decimal" />
                                <xsd:element name="lng" type="xsd:decimal" />
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="northeast">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="lat" type="xsd:decimal" />
                                <xsd:element name="lng" type="xsd:decimal" />
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="bounds">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="southwest">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="lat" type="xsd:decimal" />
                                <xsd:element name="lng" type="xsd:decimal" />
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="northeast">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="lat" type="xsd:decimal" />
                                <xsd:element name="lng" type="xsd:decimal" />
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="place_id" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>